{% extends 'variant/base.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'variant/contact.css' %}">
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
	
	<div class="container">
		<div class="col-md-10">
			<h1>Contact Us</h1>
			<form role="form" id="contact-form" class="contact-form" method="POST">
				{% csrf_token %}
	                    <div class="form-text"> Feel free to send us a message so that we can improve our website.</div>
	                    <div class="row">
	                		<div class="col-md-6">
	                  		<div class="form-group">
	                            <input type="text" class="form-control" name="name" autocomplete="off" id="Name" placeholder="Name">

	                  		</div>
	                  		{{ form.name.errors}}
	                  	</div>
	                    	<div class="col-md-6">
	                  		<div class="form-group">
	                            <input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail">
	                  		</div>
	                  		{{ form.email.errors}}
	                  	</div>
	                  	</div>
	                  	<div class="row">
	                  		<div class="col-md-12">
	                  		<div class="form-group">
	                            <textarea class="form-control textarea" rows="3" name="message" id="Message" placeholder="Message"></textarea>
	                  		</div>
	                  		{{ form.message.errors}}
	                  	</div>
	                    </div>
	                    <div class="row">
	                    <div class="col-md-12">
	                  <button type="submit" class="btn main-btn pull-right">Send a message</button>
	                  </div>
	                  
	                </form>
	                
		</div>
		{% if success %}
	                  <div class="success">Success! Thank you for messaging us. We will reply you as soon as possible.</div>
                    {% endif %}
	</div>
	<style type="text/css">
	.errorlist
	{
	    color: red;
	    padding-bottom: 10px;
	}
	.success
	{
		color:#5f788a;
		padding-top: 10px;
	}
	.col-md-8
	{
		margin: auto;
	}
	.form-text
	{
		padding-bottom: 15px;
		padding-left: 2px;
	}
</style>
{% endblock content %}