{% extends "variant/base.html" %}
{% load static %}
{% load variant_extras %}
{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'variant/detail.css' %}">
	<script type="text/javascript" src="{% static 'variant/javascript/helpers.js' %}"></script>
	<script type="text/javascript" src="{% static 'variant/javascript/jquery-3.5.1.min.js' %}"></script>

	<h1>{{ variant.variant_id }}</h1>
	<div class="row summary-box">
		<dl class="col-md-6 dl-col">
			<div class="row">
				<dt>Organism</dt>
				<dd>{{ variant.organism }}</dd>
			</div>
			<div class="row">
				<dt>Position</dt>
				<dd>{{ variant.position|split:"|"|index:0 }}</dd>
			</div>
			<div class="row">
				<dt>Alleles</dt>
				<dd>{{ variant.alleles }}</dd>
			</div>
			<div class="row">
				<dt>Variation Type</dt>
				<dd>{{ variant.variation_type }}</dd>
			</div>
			<div class="row">
				<dt>Frequency</dt>
				<dd>{{ variant.frequency|split:"(+"|index:0 }}</dd>
			</div>
		</dl>
		<dl class="col-md-6 dl-col">
			<div class="row">
				<dt>Clinical Significance</dt>
				<dd>{{ variant.clinical_significance|get_clinical }}</dd>
			</div>
			<div class="row">
				<dt>Gene:Consequence</dt>
				<dd>{{ variant.gene_consequence }}</dd>
			</div>
			<div class="row">
				<dt>Publications</dt>
				<dd>
					{% if variant.publications == '' %}
					No publications
					{% elif variant.publications == "No Publications" %}
					{{ variant.publications }}
					{% else %}
					{{ variant.publications|split_on_new_line|length|add:-1}} citations (See below)
					{% endif %}
					
				</dd>
			</div>
			<div class="row">
				<dt>Genomic View</dt>
				<dd><a href="{{ variant.genomic_view|split:'|'|index:1 }}">{{ variant.genomic_view|split:'|'|index:0 }}</a></dd>
			</div>
		</dl>

	</div>
	<div class="row">
		<div class="table-buttons col-md-2">
			{% for field in variant_fields|slice:"10:" %}
				{% if variant_dict|index:field %}
					<button type="button" id="btn{{ forloop.counter }}" onclick="showTable({{ forloop.counter }}, this);">{{ field|replace:"_, "|capfirst }}</button>
				{% endif %}
			{% endfor %}
			{% if variant.publications|length > 16 %}
				<button type="button" onclick="showTable('publications', this);">Publications</button>
			{% endif %}
		</div>
		<div class="tables-container">
			{% for field in variant_fields|slice:"10:" %}
				{% if variant_dict|index:field %}
					<div class="table-box" id="table{{ forloop.counter }}">
						<h4>{{ field|replace:"_, "|capfirst }}</h4>
						<table>
							<thead>
								{% if field == 'genomic_placements' %}
									<th>Sequence Name</th>
									<th>Change</th>
								{% elif 'gene' in field %}
									<th>Molecular Type</th>
									<th>Change</th>
									<th>Amino Acid (codon)</th>
									<th>SO Term</th>
								{% elif field == 'aliases' %}
									<th>Placement</th>
									<th>T=</th>
									<th>G</th>
								{% endif %}
							</thead>
							<tbody>
								{% for row in variant_dict|index:field|split_on_new_line %}
									{% if row|strip %}
										<tr>
											{% for td in row|split:"|" %}
												<td>{{ td }}</td>
											{% endfor %}
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% endif %}
			{% endfor %}
			{% if variant.publications|length > 16 %}
				<div class="table-box" id="publications">
					<h4>Publications</h4>
					<table>
						<thead>
							<th>PMID</th>
							<th>Title</th>
							<th>Author</th>
							<th>Year</th>
							<th>Journal</th>
						</thead>
						<tbody>
							{% for row in variant.publications|split_on_new_line %}
								{% if row|strip %}
									<tr>
										{% for td in row|split:"|" %}
											<td valign="top">{{ td }}</td>
										{% endfor %}
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endif %}	
		</div>
	</div>
	<script type="text/javascript">showTable(1);</script>
{% endblock content%}